/*----------------- GLOBAL STYLES----------------------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.17; */
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  letter-spacing: -0.03em;
}

.accent {
  color: #fd9222;
}

/*----------------- HEADER----------------------- */

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header .container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 76px;
}

.header-logo-italic {
  font-style: italic;
}

.header-logo span {
  font-style: italic;
}
.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;

  /* &:hover,
  &:focus {
    color: #fd9222;
  } */
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

/* .header-menu-link:is(:hover, :focus) {
  color: #fd9222;
} */

.header-contacts {
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 24px;
}

.header-contacts-icon {
  fill: transparent;
  stroke: #111111;
}

.header-contacts-icon:hover {
  stroke: #fd9222;
}

/*----------------- HERO----------------------- */

.hero {
  background-color: #1e1823;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url('../images/main-bg.jpg');
  max-width: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-wrapper {
  padding: 380px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  /* gap: 14px; */
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  /* min-width: 146px;
  height: 46px; */
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  margin-right: 14px;
  /* transition-property: all;
  transition-duration: 300ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0, 1.41); */
  transition:
    background-color 0.3s cubic-bezier(0.16, 1.08, 0, 1.41),
    color 0.3s cubic-bezier(0.16, 1.08, 0, 1.41);

  &:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*----------------- FEATURES----------------------- */

.features {
  background-color: #1e1823;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 70px; */
  gap: 20px;
  /* padding-left: 36px;
  padding-right: 36px; */
}

.features-item {
  /* width: calc((100% - 140px) / 3); */
  width: 100%;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*----------------- TASTE----------------------- */

.taste {
  /* padding-top: 100px;
  padding-bottom: 50px; */
  padding-top: 60px;
  padding-bottom: 30px;
}

.taste-title {
  /* max-width: 411px; */
  max-width: 283px;
  /* margin: 0 auto 28px; */
  margin: 0 auto 24px;
  /* margin-bottom: 28px; */
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  position: relative;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.taste-item:hover .taste-item-text {
  transform: translateY(0);
}

.taste-img-wrapper {
  position: relative;
  overflow: hidden;
}

.taste-img {
  /* margin-bottom: 36px; */
  display: block;
  margin: 0 auto;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  /* padding: 27px 31px; */
  padding: 27px 28px;
}

.taste-item-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
  background-color: #fd9222;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

/*----------------- MADE----------------------- */

.made {
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.made > .container {
  max-width: 296px;
}
.made-title {
  max-width: 250px;
  /* margin: 0 auto 50px; */
  margin: 0 auto 32px;
}

.made-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-content {
  border-radius: 15px;
  background-color: #fff;
  /* padding: 32px; */
  padding: 20px 14px;
}

/* .made-title::before {
  content: '';
  width: 4px;
  height: 20px;
  display: inline-block;
  background-color: #fd9222;
}

.made-title::after {
  content: '';
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #fd9222;
  border-radius: 2px;
} */

.made-img {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
}

.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  left: 0;
  top: 5px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding: 0 10px 0 0;
  padding-right: 10px;
}

/*----------------- REVIEW----------------------- */

.review {
  /* padding-top: 50px;
  padding-bottom: 100px; */
  padding-top: 30px;
  padding-bottom: 60px;
}

.review-title {
  /* margin-bottom: 90px; */
  margin-bottom: 74px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 28px; */
  gap: 50px;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.review-item {
  /* width: calc((100% - 56px) / 3); */
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  position: relative;
  padding: 56px 24px 24px 24px;
}

.review-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/*----------------- FOOTER----------------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  margin-bottom: 24px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
  color: #fff;
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts-list:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-input {
  width: 313px;
  height: 52px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  padding-left: 13px;
  padding-right: 13px;
  color: #fff;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-form-btn {
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  /* margin: auto; */
}

.modal-close {
  width: 28px;
  height: 28px;
  border: 2px solid #111;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  position: absolute;
  top: 26px;
  right: 26px;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  height: 68px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  color: blueviolet;
  padding-left: 62px;
  padding-right: 24px;
  outline: transparent;
}

.modal-input-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 24px;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-input-icon {
  stroke: #fd9222;
}

.modal-input::placeholder {
  color: rgba(35, 58, 21, 0.5);
  font-size: 12px;
}

/* .modal-input:required {
  border: 1px solid red;
} */

button:disabled {
  background-color: rgb(182, 174, 232);
  cursor: not-allowed;
}

.modal-text-area {
  height: 137px;
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  background-color: transparent;
  font-size: 14px;
  color: blueviolet;
  resize: none;
  padding: 8px 16px;
}

.modal-check:checked + .modal-check-label span {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.modal-check-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  position: relative;

  a {
    color: #fd9222;
    text-decoration: underline;
  }
}

/* .modal-check-label::before {
  content: '';
  width: 30px;
  height: 10px;
  background-color: rgba(17, 17, 17, 0.239);
  margin-right: 12px;
  border-radius: 50px;
  transition-duration: 300ms;
}

.modal-check-label::after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 18px;
  height: 18px;
  background-color: rgb(243, 238, 238);
  margin-right: 12px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-label::after {
  transform: translate(12px);
  background-color: #75ce5c;
}

.modal-check:checked + .modal-check-label::before {
  background-color: #afe99f;
} */

.modal-check-label span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px 60px;
  }

  .features-item {
    width: calc((100% - 60px) / 2);
  }

  .taste {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .taste-title {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .taste-text {
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-subtitle {
    padding: 27px 32px;
  }

  .review {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .review-title {
    margin-bottom: 90px;
  }

  .review-list {
    gap: 50px 16px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .review-item {
    width: calc((100% - 16px) / 2);
  }

  .made > .container {
    max-width: 678px;
  }

  .made {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .made-item {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1166px) {
  .container,
  .made > .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    gap: 70px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .features-item {
    width: calc((100% - 140px) / 3);
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    gap: 32px 19px;
  }

  .taste-item {
    width: calc((100% - 57px) / 4);
  }

  .review {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .review-list {
    gap: 28px;
  }

  .review-item {
    width: calc((100% - 56px) / 3);
  }

  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-wrapper {
    flex-wrap: nowrap;
  }
}
